{% extends 'base.html' %}
{% block title %}
    <title>登录页面</title>
{% endblock %}

{% block content %}
    <div class="container" id="app">
        <login></login>
        <form class="form-group">
            用&nbsp;&nbsp;户：
            <label><input type="text" name="username" v-focus v-model="name">
            </label><br>
            密&nbsp;&nbsp;码：
            <label><input type="password" name="auth_key" v-model="auth_key" @keyup.enter="login">
        </label><br>
        </form>
        <p class="info" v-html="info"></p>
        <button class="btn btn-success" @click="login">点击验证用户</button>

    </div>

<script type="text/javascript">

    // 注册组件
    Vue.component('login', {
      template: '<h2>登&nbsp;&nbsp;&nbsp;&nbsp;录</h2>'
    });

    // 注册一个全局自定义指令 v-focus
    Vue.directive('focus', {
      // 当绑定元素插入到 DOM 中。
      inserted: function (el) {
        // 聚焦元素
        el.focus()
      }
    });

    const vm = new Vue({
        el: "#app",
        data: {
            info: "",
            name: "",
            auth_key: "",
        },
        methods: {
            // 设置cookie
            setCookie(c_name, value, expiredays) {
                var exp = new Date();
                exp.setDate(exp.getDate() + expiredays);
                document.cookie = c_name + "=" + escape(value) + ";expires=" + exp.toGMTString() + ";path=/";
            },
            login() {
                const formData = {
                    'name': this.name,
                    'auth_key': this.auth_key
                };
                let _this = this; // 使用_this来代替Vue中的this变量，防止与ajax中的this重复
                _this.info = "";
                $.ajax({
                    // async: false,  // 设置为同步(ajax的this把vue的this覆盖 取不到this.info)
                    url: '/user/login',
                    type: 'post',
                    dataType: 'json',
                    data: formData,
                    success: function (result) {
                        _this.info = result;
                        if(result.code === 200) {
                            // 登录成功则设置用户的token
                            _this.setCookie('token', result.token, 3);
                            window.location = '/'
                        }
                    }
                });
            }
        }
    });
</script>
{% endblock %}
