<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>模板</title>
    {% endblock %}
    <link rel="stylesheet" href="/s/bootstrap/css/bootstrap.css">
    <script type="text/javascript" src="/s/js/jquery.min.js"></script>
    <script type="text/javascript" src="/s/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/s/js/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
</head>
<body>

{% block content %}
{% endblock %}



</body>
<style>
    a {
        cursor: pointer;
    }
</style>
</html>